<h1> Add Link </h1>

<form action="/links" method="post">
  <label for="url">
    <h1> URL </h1>
    <input type="text" name="url"/>
  </label>
  <label for="title">
    <h1> Title </h1>
    <input type="text" name="title"/>
  </label>
  <label for="tags">
    <h1> Tag </h1>
    <input type="text" name="tags"/>
  </label>
  <input type="submit" value="Add"/>
</form>
