<h1> Add Link </h1>

<form action="/links" method="post">
  <h1> URL </h1>
  <input type="text" name="url">
  <h1> Title </h1>
  <input type="text" name="title">
  <h1> Tag </h1>
  <input type="text" name="tag">
  <input type="submit" value="Add">
</form>
