<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>

    <% if flash[:not_matching_pw] %>
      <div id='not_matching_pw'><%= flash[:not_matching_pw] %></div>
    <% elsif current_user %>
      Welcome, <%= current_user.email %>
    <% end %>

    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
  </body>
</html>
